@charset "utf-8";
.bg-imagenpersonajes {
    background-position: 17% 32%;
    background-size: cover;
    background-image: url(../imagenes_juego/4%20PERSONAJES.jpg);
}
.bg-fondonegro {
    background-color: #000000;
}

.bg-logopng {
    background-image: url(../imagenes_juego/LOGO%20EL%20DIA%20DESPUES_Mesa%20de%20trabajo%201%20copia.png);
    background-size: cover;
    background-position: 1% center;
}
.bg-fondo_negro_transparencia {
    background-color: rgba(0,0,0,0.69);
}
.bg-imagen1 {
    background-image: url(../imagenes_juego/CONCEPTO%20DE%20ESCENARIO.jpg);
    background-size: cover;
}
.texto_cuerpo {
    font-size: x-large;
    color: #FFFFFF;
}
.texto_cuerponegro {
    color: #000000;
    font-size: x-large;
}
.subtitulo_negro {
    color: #000000;
    font-size: 72px;
}
.bg-logojardin {
    background-image: url(../images/Logos/Logos/Jardin-Botanico-de-Bogota-nw.png);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-bottom: 36px;
    background-size: cover;
}



.bg-blacky {
    background-color: #F29F05;
}
.imagen_blacky {
    background-image: url(../imagenes_juego/blacky.png);
    background-size: 476px auto;
    background-position: 37% 14%;
}
.bg-luke {
    background-color: #CC084E;
}
.imagen_luke {
    background-image: url(../imagenes_juego/Luke.png);
    background-size: 425px auto;
    background-position: 40% 16%;
}
.bg-minnie {
    background-color: #005A5E;
}
.imagen_minnie {
    background-image: url(../imagenes_juego/red%20panda.png);
    background-size: 475px auto;
    background-position: 34% 24%;
}
.bg_imagenpersonajes {
    background-image: url(../imagenes_juego/Il%20meme_page-0001.jpg);
    background-size: cover;
    background-position: 0% 43%;
}
.bg-imagenultima {
    background-image: url(../imagenes_juego/KEY%20VISUAL%204K.png);
    background-size: cover;
}








.bg-ajustado {
    padding-top: 29px;
}
.bg-imagen2 {
    background-image: url(../imagenes_juego/CONCEPTO%20DE%20JUEGO.jpg);
    border-radius: 0px;
    padding-top: 79px;
    padding-right: 79px;
    padding-bottom: 79px;
    background-size: cover;
    background-position: 42% 98%;
}
.bg-imagen3 {
    background-image: url(
../imagenes_juego/background1%20(2).jpg);
    background-size: cover;
    background-image: url(../imagenes_juego/imagen%20fondo.jpg);
    background-position: 0% 31%;
}
.bg-logoonyx {
    background-size: cover;
    background-image: url(../imagenes_juego/ONYX%20STUDIO%20negro.png);
    background-position: 8% 48%;
}
.subtitulos {
    color: rgba(255,255,255,1.00);
    font-size: 101px;
}
.subtitulos_carrusel {
    color: rgba(255,255,255,1.00);
    font-size: 27px;
}
.imagen_tokk {
    background-image: url(../imagenes_juego/Tokk.png);
    background-size: 510px auto;
    padding-bottom: 38px;
    margin-bottom: 0px;
    background-position: 44% 5%;
    padding-left: 0px;
    padding-right: 0px;
}
.subtitulos_cuerpo {
    color: #FFFFFF;
    font-size: 50px;
}

.bg-tokk {
    background-color: #358C57;
}
.subtituloscuerpo {
    color: #F9F9F9;
    font-size: 70px;
}
.imagen_jardin {
    background-image: url(../imagenes_juego/PALMERAS%20JARDIN%20BOTANICO.jpg);
    background-size: cover;
    background-position: 0% 87%;
}
.imagen_jardin2 {
    background-image: url(../images/Alianzas/Alianzas/Jardin-botanico-de-Bogota.jpg);
    background-size: cover;
}
.imagen_jardin3 {
    background-image: url(../imagenes_juego/1.jpg);
    background-size: cover;
}
